html{
    font-size: 0.8rem;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-track {
    background: #CFD8DC;
}
body::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 3px;
    border: 3px solid #CFD8DC;
}
